html{
    background-color:black;
    color: beige;
}

h1{
    padding: 20px;
    margin: 12px;
}

.Tabela{
    border: solid;
    border-width: 2px;
    border-color:#ff0095;
}

.Infespecifica{
    color: yellow;
}

.Infespecificas{
    color: cyan;
}
.Infpadrao{
    color: yellowgreen;
}
